<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Photos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<!--Photos de l'utilisateur-->
<div class="container-fluid" style="max-width: 600px; margin: 0 auto;">
    <h2 class="text-center">Mes photos</h2>

    <div th:if="${images.size() > 0}">
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Titre</th>
                <th scope="col">Link</th>
                <th scope="col">Visibilité</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="image : ${images}">
                <td>
                    <a href="#" class="image-link"
                       th:attr="data-url=${image.url},data-title=${image.title},data-description=${image.description},data-visibility=${image.visibility},data-created=${image.createdAt},data-updated=${image.updatedAt},data-auteur=${image.ownerName}">
                        <img th:src="@{${image.url}}" alt="${image.name}"
                             height="60px" data-bs-toggle="modal" data-bs-target="#image-modal" />
                    </a>
                </td>
                <td>[[${image.title}]]</td>
                <td><a th:href="@{${image.url}}">Download</a></td>
                <td>[[${image.visibility}]]</td>
                <td>
                    <a th:attr="data-url=${image.url},data-title=${image.title},
                    data-description=${image.description},data-visibility=${image.visibility},
                    data-created=${image.createdAt},data-updated=${image.updatedAt},data-auteur=${image.ownerName}"
                            th:href="@{'/photos/editer/' + ${image.id}}" th:fileName="${image.title}" id="btnEdit"
                       title="Editer l'image" class="fa-regular fa-trash-can icon-dark btn-edit">Editer</a>
                    <a th:href="@{'/photos/delete/' + ${image.id}}" th:fileName="${image.title}" id="btnDelete"
                       title="Supprimer cette image" class="fa-regular fa-trash-can icon-dark btn-delete">Supprimer</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:unless="${images.size() > 0}">
        <span>Vous n'avez aucune photo</span>
    </div>
</div>

<!--photo partagé-->
<div class="container-fluid" style="max-width: 600px; margin: 0 auto;">
    <h2 class="text-center">Photos partagées avec moi</h2>

    <div th:if="${photoShared.size() > 0}">
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Titre</th>
                <th scope="col">Link</th>
                <th scope="col">Visibilité</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="image : ${photoShared}">
                <td>
                    <a href="#" class="image-link"
                       th:attr="data-url=${image.url},data-title=${image.title},data-description=${image.description},data-visibility=${image.visibility},data-created=${image.createdAt},data-updated=${image.updatedAt},data-auteur=${image.ownerName}">
                        <img th:src="@{${image.url}}" alt="${image.name}"
                             height="60px" data-bs-toggle="modal" data-bs-target="#image-modal" />
                    </a>
                </td>
                <td>[[${image.title}]]</td>
                <td><a th:href="@{${image.url}}">Download</a></td>
                <td>[[${image.visibility}]]</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:unless="${photoShared.size() > 0}">
        <span>Vous n'avez aucune photos partagées</span>
    </div>
</div>


<!--photos modérateur / administrateur-->
<div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')" class="container-fluid" style="max-width: 600px; margin: 0 auto;">
    <h2 class="text-center">Photos à valider</h2>

    <div th:if="${photoToValidate.size() > 0}">
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Titre</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="image : ${photoToValidate}">
                <td>
                    <a href="#" class="image-link"
                       th:attr="data-url=${image.url},data-title=${image.title},data-description=${image.description},data-visibility=${image.visibility},data-created=${image.createdAt},data-updated=${image.updatedAt},data-auteur=${image.ownerName}">
                        <img th:src="@{${image.url}}" alt="${image.name}"
                             height="60px" data-bs-toggle="modal" data-bs-target="#image-modal" />
                    </a>
                </td>
                <td>[[${image.title}]]</td>
                <td>
                    <a th:href="@{'/photos/valider/' + ${image.id}}"
                       title="Supprimer cette image" class="fa-regular fa-trash-can icon-dark">Valider</a>
                    <a th:href="@{'/photos/refuser/' + ${image.id}}"
                       title="Supprimer cette image" class="fa-regular fa-trash-can icon-dark">Refuser</a>
                    <a th:href="@{'/photos/delete/' + ${image.id}}"
                       title="Supprimer cette image" class="fa-regular fa-trash-can icon-dark">Supprimer</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:unless="${photoToValidate.size() > 0}">
        <span>Vous n'avez aucune photos à valider</span>
    </div>
</div>

<!-- Modal editer -->
<div class="modal fade" id="editerModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editerModalLabel">Image Details</h5>
                <button id="closeEditModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body text-center">
                <form
                        id="editForm"
                        method="post"
                        enctype="multipart/form-data">

                    <label for="title-input">Titre de la photo</label>
                    <input id="title-input" type="text" name="title" />

                    <label for="description-input">Description de la photo</label>
                    <textarea id="description-input" name="description"></textarea>

                    <fieldset>
                        <legend>Visibilité de l'image :</legend>

                        <div>
                            <input type="radio" id="public-radio" name="visibility" checked />
                            <label for="public-radio">Publique</label>
                        </div>

                        <div>
                            <input type="radio" id="private-radio" name="visibility" />
                            <label for="private-radio">Privée</label>
                        </div>
                    </fieldset>

                    <div class="modal-footer">
                        <button id="editBtn" class="btn btn-danger" type="submit">Editer l'image</button>
                        <button class="btn btn-secondary" id="closeEditButton">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal image info -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Image Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img id="modalImage" src="" alt="Image" class="img-fluid mb-3"/>
                <h5 id="modalTitle"></h5>
                <p id="modalDescription"></p>
                <p id="modalOwner"></p>
                <p id="modalVisibility"></p>
                <p id="modalDate"></p>
                <p id="modalUpdated"></p>
            </div>
        </div>
    </div>
</div>

<!-- Modal suppression -->
<div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation de la suppression</h5>
                <button id="closeDeleteModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <span id="confirmText"></span>
            </div>

            <div class="modal-footer">
                <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
                <button class="btn btn-secondary" id="closeDeleteButton">Annuler</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".image-link").forEach(function (element) {
            console.log(element)
            element.addEventListener("click", function (event) {
                event.preventDefault();
                const url = element.getAttribute("data-url");
                const name = element.getAttribute("data-title");
                const auteur = element.getAttribute("data-auteur");
                const created = element.getAttribute("data-created");
                const updated = element.getAttribute("data-updated");
                const visibility = element.getAttribute("data-visibility");
                const description = element.getAttribute("data-description");
                console.log(name)

                document.getElementById("modalImage").src = url;
                document.getElementById("modalTitle").textContent = name;
                document.getElementById("modalDescription").textContent = description;
                document.getElementById("modalDate").textContent = created;
                document.getElementById("modalUpdated").textContent = updated;
                document.getElementById("modalOwner").textContent = auteur;
                document.getElementById("modalVisibility").textContent = visibility;

                const imageModal = new bootstrap.Modal(document.getElementById("imageModal"));
                imageModal.show();
            });
        });

        document.querySelectorAll(".btn-delete").forEach(function (element) {
            element.addEventListener("click", function (event) {
                event.preventDefault();
                const link = element;
                const fileName = link.getAttribute("fileName");
                document.getElementById("closeDeleteButton").addEventListener("click", function (event) {
                    event.preventDefault();
                    document.getElementById("closeDeleteModal").click();
                })
                document.getElementById("yesBtn").href = link.href;
                document.getElementById("confirmText").innerHTML = "Voulez-vous supprimer le fichier ? : <strong>" + fileName + "</strong>?";
                const confirmModal = new bootstrap.Modal(document.getElementById("confirmModal"));
                confirmModal.show();
            });
        });

        document.querySelectorAll(".btn-edit").forEach(function (element) {
            element.addEventListener("click", function (event) {

                event.preventDefault();
                document.getElementById("closeEditButton").addEventListener("click", function (event) {
                    event.preventDefault();
                    document.getElementById("closeEditModal").click();
                })
                const title = element.getAttribute("data-title");
                const description = element.getAttribute("data-description");
                const visibility = element.getAttribute("data-visibility");

                document.getElementById("title-input").value = title;
                document.getElementById("description-input").value = description;
                document.getElementById("public-radio").value = "PUBLIC"
                document.getElementById("private-radio").value = "PRIVATE"
                if (visibility === "PUBLIC") {
                    document.getElementById("public-radio").checked = true;
                } else {
                    document.getElementById("private-radio").checked = true;
                }

                document.getElementById("editForm").action = element.href;
                const confirmModal = new bootstrap.Modal(document.getElementById("editerModal"));
                confirmModal.show();
            });
        });
    });
</script>
</body>
</html>
